<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IPackageServices1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/PostProjectWebService/PackageServices.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPackageServices1"
                contract="PostProjectWebService.IPackageServices" name="BasicHttpBinding_IPackageServices1" />
        </client>
    </system.serviceModel>
</configuration>